.settings/
.cache

# Please use sbteclipse plugin to generate these for yourself
.project
.classpath

*.classp
*.swp
target/*
.nfs*
nohup*
sdcard*

bin/
project/project
project/target

application.conf
application.json

tools/memoryLoad.eps
tools/resources.pickle

www/node_modules

.vagrant
logs
