extends layout

block content
  script(src='/scripts/handlebars.js')
  script(id='server-item',type='text/x-handlebars-template')
    li
      b {{ name }}: 
      {{ status }}
  script(type='text/javascript')
    serverTmpl = Handlebars.compile($('#server-item').html())
  div.container
    h1 Clasp Dashboard
    ul(id='servers')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/dashboard.js')
  script(type='text/javascript') addServers()
