extends layout


block content

append modals
  div#controlModal.modal.hide.fade(tabindex='-1')
    div(class="modal-header")
      butten(type="button",class="close",data-dismiss="modal",
        aria-hidden="true") &times
      h3 Run Clasp.
    div(class="modal-body",style='height: 300px')
    div(class="modal-footer")
      button(class="btn",data-dismiss="modal") Close
  div#shutdownModal.modal.fade(tabindex='-1')
    div.modal-dialog: div.modal-content
      div.modal-header
        button.close(type="button",data-dismiss="modal") &times
        h4.modal-title Are You Sure?
      div.modal-body
        p.text-danger This will shut down all devices, all worker nodes, and this website
      div.modal-footer
        button.btn.btn-success(data-dismiss="modal") Get Me Out of Here!
        button.btn.btn-danger(data-dismiss="modal",onclick="shutdown()") Shutdown

append templates
  script(id='server-item',type='text/x-handlebars-template')
    tr(id='worker-{{ ip }}')
      td: {{ ip }}
      td(class='{{status}}'): {{ status }}
      td: {{ asOf }}
  script(id='emulator-item',type='text/x-handlebars-template')
    tr(id='emulator-{{ uuid }}')
      td: {{ uuid }}
      td: a(href='vnc?host={{ publicip }}&port={{ wsVncPort }}').
          {{ publicip }}:{{ wsVncPort }}
      td: {{ consolePort }}
      td: {{ actorPath }}
  script(id='modal-body',type='text/x-handlebars-template')
    b Master:
    | {{ server }}
    {{#if clients}}
    br
    b Clients
    ul
      {{#each clients}}
      li
        label
          | {{ clientName }}
          input(type='checkbox',id='{{ clientName }}',checked)
      {{/each}}
    button(type='button',class='btn btn-primary',
      onclick='run{{ name }}("{{ server }}"); return false;') Run
    {{else}}
    div.dropdown
      a(class='dropdown-toggle',data-toggle='dropdown',href='#')
        | Select a program
        b.caret
      ul(class='dropdown-menu',role='menu')
        li: a(onclick='stageClaspMain("{{ server }}"); return false;',href='#').
          Clasp Main
        li: a(onclick='stageAntimalware("{{ server }}"); return false;',href='#').
          Antimalware
    {{/if}}

append compileTemplates
  | templates.serverTmpl = Handlebars.compile($('#server-item').html());
  | templates.modalTmpl = Handlebars.compile($('#modal-body').html());
  | templates.emulatorTmpl = Handlebars.compile($('#emulator-item').html());

block activePageBlock
  -var activePage = 'dashboard'
