-var activePage = 'dashboard'
extends layout

block activePageBlock
  -var activePage = 'dashboard'

block content
  script(src='/scripts/handlebars.js')
  script(src='/scripts/dashboard.js' type='text/javascript')
  script(id='server-item',type='text/x-handlebars-template')
    tr(id='worker-{{ ip }}')
      td: {{ ip }}
      td(class='{{status}}'): {{ status }}
      td: {{ asOf }}
  script(id='emulator-item',type='text/x-handlebars-template')
    tr(id='emulator-{{ uuid }}')
      td: {{ uuid }}
      td: a(href='vnc?host={{ publicip }}&port={{ wsVncPort }}').
          {{ publicip }}:{{ wsVncPort }}
      td: {{ consolePort }}
      td: {{ actorPath }}
  script(id='modal-body',type='text/x-handlebars-template')
    b Master:
    | {{ server }}
    {{#if clients}}
    br
    b Clients
    ul
      {{#each clients}}
      li
        label
          | {{ clientName }}
          input(type='checkbox',id='{{ clientName }}',checked)
      {{/each}}
    button(type='button',class='btn btn-primary',
      onclick='run{{ name }}("{{ server }}"); return false;') Run
    {{else}}
    div.dropdown
      a(class='dropdown-toggle',data-toggle='dropdown',href='#')
        | Select a program
        b.caret
      ul(class='dropdown-menu',role='menu')
        li: a(onclick='stageClaspMain("{{ server }}"); return false;',href='#').
          Clasp Main
        li: a(onclick='stageAntimalware("{{ server }}"); return false;',href='#').
          Antimalware
    {{/if}}
  script(type='text/javascript')
    | var serverTmpl = Handlebars.compile($('#server-item').html())
    | var modalTmpl = Handlebars.compile($('#modal-body').html())
    | var emulatorTmpl = Handlebars.compile($('#emulator-item').html())
  div.container
    h1 Clasp Dashboard
    ul
      li
        a(href="#shutdownModal",onclick='shutdown(); return false;',data-keyboard="true",data-toggle="modal") Shutdown
        |  | 
        a(onclick='refreshEmulatorList(); return false;',href='#') Refresh Emulator List
    div(id='server-table')
    div(id='emulator-table')
  script(type='text/javascript').
    Handlebars.registerHelper('ifOn', function(v1, options) {
      if (v1 === 'Yes') {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
  div(id="controlModal",class="modal hide fade",tabindex='-1')
    div(class="modal-header")
      butten(type="button",class="close",data-dismiss="modal",
        aria-hidden="true") &times
      h3 Run Clasp.
    div(class="modal-body",style='height: 300px')
    div(class="modal-footer")
      button(class="btn",data-dismiss="modal") Close
  div(id="shutdownModal",class="modal hide fade",tabindex='-1')
    div(class="modal-header")
      butten(type="button",class="close",data-dismiss="modal",
        aria-hidden="true") &times
      h3 Shutdown Warning
    div(class="modal-body")
      p.red This website will stop working shortly. It typically takes 10-15 seconds for the system to finish shutting down
    div(class="modal-footer")
      button(class="btn",data-dismiss="modal") Close

