-var activePage = 'dashboard'
extends layout

block activePageBlock
  -var activePage = 'dashboard'

block content
  script(src='/scripts/handlebars.js')
  script(id='server-item',type='text/x-handlebars-template')
    tr(class='{{status}}',id='{{ name }}')
      td: {{ name }}
      td: {{ ping }}
      td: {{ ssh }}
      td: {{ clasp }} 
        | {{#ifOn clasp }}
        font(size='-2') (
          a(onclick="killClasp('{{ name }}'); return false;",href="#") Kill?
          | )
        | {{/ifOn}}
      td: {{ emu }} 
  script(id='modal-body',type='text/x-handlebars-template')
    b Master:
    | {{ server }}
    {{#if clients}}
    br
    b Clients
    ul
      {{#each clients}}
      li
        label
          | {{ clientName }}
          input(type='checkbox',id='{{ clientName }}',checked)
      {{/each}}
    button(type='button',class='btn btn-primary',
      onclick='run{{ name }}("{{ server }}"); return false;') Run
    {{else}}
    div.dropdown
      a(class='dropdown-toggle',data-toggle='dropdown',href='#')
        | Select a program
        b.caret
      ul(class='dropdown-menu',role='menu')
        li: a(onclick='stageClaspMain("{{ server }}"); return false;',href='#').
          Clasp Main
        li: a(onclick='stageAntimalware("{{ server }}"); return false;',href='#').
          Antimalware
    {{/if}}
  script(type='text/javascript')
    | var serverTmpl = Handlebars.compile($('#server-item').html())
    | var modalTmpl = Handlebars.compile($('#modal-body').html())
  div.container
    h1 Clasp Dashboard
    ul
      li Start Clasp by clicking on a row.
      li
        a(onclick='refresh(); return false;',href='#') Refresh
        | | 
        a(onclick='killAllClasp(); return false;',href='#') Kill all Clasp
        | | 
        a(onclick='killAllEmu(); return false;',href='#') Kill all Emulators
    div(id='server-table')
  script(type='text/javascript').
    Handlebars.registerHelper('ifOn', function(v1, options) {
      if (v1 === 'Yes') {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
  div(id="controlModal",class="modal hide fade",tabindex='-1')
    div(class="modal-header")
      butten(type="button",class="close",data-dismiss="modal",
        aria-hidden="true") &times
      h3 Run Clasp.
    div(class="modal-body",style='height: 300px')
    div(class="modal-footer")
      button(class="btn",data-dismiss="modal") Close
