nav.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#clasp-navbar")
        span.glyphicon.glyphicon-list.white
      a.navbar-brand(href="/") Clasp
    div.collapse.nav-collapse.in#clasp-navbar
      ul.nav.navbar-nav
        block activePageBlock
        li(class=(activePage == 'home') ? 'active' : '')
          a(href="/") Home
        li(class=(activePage == 'dashboard') ? 'active' : '')
          a(href="dashboard") Dashboard
        li(class=(activePage == 'vnc') ? 'active' : '')
          a(href="vnc") VNC
        li(class=(activePage == 'doc') ? 'active' : '')
          a(href="doc") Documentation
        li: a(href="scaladoc") ScalaDoc
        li
          a(href="#aboutModal",data-keyboard="true",data-toggle="modal")
            | About

div#aboutModal.modal.fade(tabindex='-1')
  div.modal-dialog: div.modal-content
    div.modal-header
      button.close(type="button",data-dismiss="modal") &times
      h4.modal-title About Clasp
    div.modal-body
      :markdown
        Clasp is developed by the
        [Magnum Research Group](http://www.magnum.io)
        at [Virginia Tech](http://vt.edu).
    div.modal-footer
      button.btn.btn-primary(data-dismiss="modal") Close