.Booting {
    color: orange
}

.Online {
    color: green
}

.Failed {
    color: red
}

.Offline {
    color: blue
}

.red {
    color: red
}

.white {
    color: white
}

/*Used in test.html*/
.accordianRow {
    padding: 0 !important;
}